In [115]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from datetime import datetime

df = pd.read_csv("BRCA.csv")

In [116]:
df.head()

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,TCGA-EW-A1OX,43,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,TCGA-A8-A079,69,FEMALE,0.213980,1.31140,-0.32747,-0.234260,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,TCGA-D8-A1XR,56,FEMALE,0.345090,-0.21147,-0.19304,0.124270,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,TCGA-BH-A0BF,56,FEMALE,0.221550,1.90680,0.52045,-0.311990,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead

In [117]:
df.describe()

              Age    Protein1    Protein2    Protein3    Protein4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean    58.886228   -0.029991    0.946896   -0.090204    0.009819
std     12.961212    0.563588    0.911637    0.585175    0.629055
min     29.000000   -2.340900   -0.978730   -1.627400   -2.025500
25%     49.000000   -0.358888    0.362173   -0.513748   -0.377090
50%     58.000000    0.006129    0.992805   -0.173180    0.041768
75%     68.000000    0.343598    1.627900    0.278353    0.425630
max     90.000000    1.593600    3.402200    2.193400    1.629900

In [118]:
cdf = df.drop(["Patient_ID"], axis="columns")

In [119]:
df.dropna(subset = ["Date_of_Last_Visit"], inplace=True)
df.Date_of_Last_Visit.unique()

array(['19-Jun-17', '09-Nov-18', '09-Jun-18', '12-Jul-17', '27-Jun-19',
       '15-Nov-21', '07-Feb-18', '28-Sep-18', '15-Dec-17', '19-Dec-17',
       '13-Sep-18', '05-Apr-17', '02-Mar-20', '28-Apr-20', '09-Aug-19',
       '24-Oct-18', '22-Jul-18', '20-Oct-19', '23-Dec-19', '28-Nov-17',
       '23-Sep-20', '15-Aug-18', '20-Jun-17', '11-Jan-18', '10-Apr-18',
       '25-Jan-18', '24-May-18', '25-Jun-18', '26-Jun-22', '18-Jul-18',
       '23-Feb-18', '21-Jun-17', '13-Apr-20', '16-May-18', '01-Nov-17',
       '02-Dec-18', '10-Feb-18', '15-Jan-18', '10-Jan-18', '23-Jan-19',
       '27-Feb-18', '10-Feb-20', '12-Mar-18', '12-Sep-20', '03-May-26',
       '06-Oct-19', '24-Jul-17', '15-Aug-19', '05-Feb-21', '23-Mar-20',
       '11-Mar-18', '27-Aug-18', '15-Oct-20', '14-Oct-20', '17-Oct-17',
       '11-Oct-18', '23-Jun-19', '18-Mar-18', '02-May-20', '06-Feb-19',
       '13-Aug-18', '09-Oct-20', '28-Feb-19', '17-Nov-20', '19-Oct-20',
       '12-Aug-18', '21-Apr-20', '25-Jan-19', '04-May-18', '09-Jan-20',
       '22-May-20', '25-Aug-19', '06-Dec-19', '29-Aug-18', '26-Jul-20',
       '21-Apr-19', '02-Sep-18', '09-Sep-18', '07-Dec-19', '26-Aug-19',
       '05-Jul-20', '04-Jul-18', '06-Dec-18', '16-Dec-19', '16-Feb-19',
       '06-Aug-18', '23-Dec-20', '25-Sep-20', '22-Jul-20', '22-Jun-19',
       '01-Jun-19', '08-Jun-18', '25-Jul-18', '23-Apr-19', '11-Dec-18',
       '09-Aug-20', '23-Mar-18', '18-Dec-18', '15-Jan-20', '21-Feb-21',
       '06-Dec-20', '08-Apr-20', '15-Mar-18', '13-Oct-18', '12-Jun-19',
       '14-Mar-22', '03-Aug-19', '04-Jun-24', '27-Jan-21', '07-Feb-20',
       '09-Feb-18', '04-Oct-19', '26-Oct-18', '23-Nov-18', '30-Oct-19',
       '24-Aug-19', '06-Feb-20', '10-Apr-20', '11-Jun-19', '19-Feb-19',
       '20-Mar-18', '15-Mar-22', '06-Jul-18', '03-Oct-18', '12-Jul-19',
       '16-Nov-19', '24-Sep-18', '11-Apr-19', '08-Nov-19', '29-Jan-19',
       '11-Jan-20', '04-Aug-19', '07-Nov-18', '05-Jan-19', '09-Sep-20',
       '25-Oct-18', '26-Nov-19', '05-Jul-19', '26-Aug-18', '22-Apr-20',
       '20-Jun-19', '30-Jun-19', '15-Jul-19', '25-Mar-20', '15-Jun-18',
       '06-Mar-20', '28-Aug-18', '27-Aug-20', '01-Dec-19', '25-Jun-19',
       '26-Oct-20', '11-Nov-19', '15-Nov-20', '19-Apr-20', '18-Apr-19',
       '24-Sep-26', '08-Sep-18', '04-Nov-22', '17-Jul-19', '23-Oct-18',
       '15-Sep-19', '30-Jan-20', '25-Aug-18', '27-Sep-18', '10-Aug-20',
       '25-Oct-19', '13-Feb-21', '25-Jul-20', '17-Jun-19', '09-Nov-20',
       '21-Feb-19', '20-Nov-18', '14-Nov-23', '19-May-22', '25-May-20',
       '01-Nov-20', '29-Oct-20', '18-Feb-19', '19-Jun-19', '20-Feb-20',
       '12-Mar-19', '26-Jan-21', '03-Mar-19', '22-Aug-20', '21-Oct-19',
       '18-May-20', '05-Dec-18', '07-Sep-20', '27-Feb-20', '15-Dec-19',
       '14-Feb-21', '08-May-20', '17-Oct-19', '02-Jul-19', '13-Jul-19',
       '22-Sep-19', '17-Dec-18', '17-Jan-21', '26-May-19', '27-Oct-20',
       '28-Jul-20', '04-May-20', '28-Jan-21', '01-Oct-20', '16-Dec-18',
       '28-Dec-19', '19-Mar-20', '24-Jan-21', '26-Sep-20', '07-Jan-21',
       '19-Apr-19', '29-Jun-19', '06-Oct-20', '15-Feb-21', '28-Jan-20',
       '02-Dec-20', '08-Feb-21', '26-Jun-19', '25-Feb-20', '27-Mar-20',
       '16-Feb-21', '06-Jul-20', '09-May-20', '10-Aug-19', '03-May-19',
       '30-Jun-20', '03-Feb-20', '19-May-20', '10-Sep-20', '05-Dec-20',
       '15-May-19', '25-Dec-20', '04-May-21', '14-Jul-20', '13-Oct-20',
       '11-Oct-19', '30-Dec-20', '23-Aug-19', '14-Apr-20', '17-Dec-19',
       '11-Mar-20', '03-Feb-21', '15-May-20', '18-Apr-20', '08-Aug-20',
       '23-Jan-20', '02-Apr-20', '26-Feb-20', '26-Dec-19', '19-Mar-21',
       '06-Aug-19', '29-Jan-20', '09-Feb-20', '04-Mar-21', '18-Mar-20',
       '26-Jun-20', '22-Feb-21', '24-Mar-20', '12-Oct-20', '03-Jun-20',
       '05-Mar-20', '03-Sep-19', '07-Oct-19', '16-Aug-20', '02-Aug-20',
       '10-May-20', '28-Sep-20', '27-Jun-20', '10-Dec-20', '21-Aug-20',
       '10-Jan-21', '31-May-20', '05-Jan-21', '08-Sep-20', '27-Apr-20',
       '19-Jan-21', '07-Nov-20', '09-Feb-21', '01-Feb-21', '24-Mar-21',
       '22-Jan-21', '28-Feb-21', '04-Mar-20', '18-Jan-21', '19-Feb-21'],
      dtype=object)

In [143]:
def monthToNum(shortMonth):
    return {
            'Jan': '1',
            'Feb': '2',
            'Mar': '3',
            'Apr': '4',
            'May': '5',
            'Jun': '6',
            'Jul': '7',
            'Aug': '8',
            'Sep': '9', 
            'Oct': 10,
            'Nov': 11,
            'Dec': 12
    }[shortMonth]
for index, row in  df.iterrows():
    date = row['Date_of_Surgery']
    strdate = str(date)
    list_string = date.split('-')
    month =  monthToNum(list_string[1])
    strmonth = str(month)
    final = list_string[0]+"/"+strmonth+"/20"+list_string[2]
    # # row['Date_of_Surgery'] = final
    cdf.at[index,'Date_of_Surgery'] = final

In [146]:
cdf.Date_of_Surgery.unique()

array(['15/1/2017', '26/4/2017', '08/9/2017', '25/1/2017', '06/5/2017',
       '18/9/2017', '04/2/2017', '16-May-17', '28/9/2017', '14/2/2017',
       '26/5/2017', '08/10/2017', '24/2/2017', '05/6/2017', '18/10/2017',
       '06/3/2017', '15/6/2017', '28/10/2017', '16/3/2017', '25/6/2017',
       '07/11/2017', '26/3/2017', '07-Nov-17', '17/11/2017', '05/4/2017',
       '27/11/2017', '15/4/2017', '07/12/2017', '25/4/2017', '17/12/2017',
       '05/5/2017', '27/12/2017', '15/5/2017', '06/1/2018', '25/5/2017',
       '16/1/2018', '04/6/2017', '26/1/2018', '14/6/2017', '05/2/2018',
       '24/6/2017', '15/2/2018', '04/7/2017', '25/2/2018', '14/7/2017',
       '07/3/2018', '24/7/2017', '17/3/2018', '03/8/2017', '27/3/2018',
       '13/8/2017', '06/4/2018', '23/8/2017', '16/4/2018', '02/9/2017',
       '26/4/2018', '12/9/2017', '06/5/2018', '22/9/2017', '16/5/2018',
       '02/10/2017', '26/5/2018', '12/10/2017', '05/6/2018', '22/10/2017',
       '15/6/2018', '01/11/2017', '25/6/2018', '11/11/2017', '05/7/2018',
       '21/11/2017', '15/7/2018', '01/12/2017', '25/7/2018', '11-Dec-17',
       '04/8/2018', '21/12/2017', '14/8/2018', '31/12/2017', '24/8/2018',
       '10/1/2018', '03/9/2018', '20-Jan-18', '13/9/2018', '30/1/2018',
       '23/9/2018', '09/2/2018', '03/10/2018', '19/2/2018', '01/3/2018',
       '13/10/2018', '11/3/2018', '23/10/2018', '21/3/2018', '02/11/2018',
       '31/3/2018', '12/11/2018', '10/4/2018', '22/11/2018', '20/4/2018',
       '02/12/2018', '30/4/2018', '12/12/2018', '10/5/2018', '22/12/2018',
       '20/5/2018', '01/1/2019', '30/5/2018', '11/1/2019', '09/6/2018',
       '21/1/2019', '19/6/2018', '31/1/2019', '29/6/2018', '10/2/2019',
       '09/7/2018', '20/2/2019', '19/7/2018', '02/3/2019', '29/7/2018',
       '12/3/2019', '29-Jul-18', '08/8/2018', '22/3/2019', '18/8/2018',
       '01/4/2019', '28/8/2018', '11/4/2019', '07/9/2018', '21/4/2019',
       '07-Sep-18', '17/9/2018', '01/5/2019', '27/9/2018', '11/5/2019',
       '07-Oct-18', '21/5/2019', '07/10/2018', '17/10/2018', '31/5/2019',
       '27/10/2018', '10-Jun-19', '06/11/2018', '20/6/2019', '16/11/2018',
       '30/6/2019', '26/11/2018', '10/7/2019', '26-Nov-18', '06/12/2018',
       '20/7/2019', '16/12/2018', '10/6/2019', '20-Jun-19', '16-Nov-18',
       '26/12/2018', '05/1/2019', '15/1/2019', '25/1/2019', '04/2/2019',
       '14/2/2019', '24/2/2019', '06/3/2019', '16/3/2019', '26/3/2019',
       '05/4/2019', '05-Apr-19', '15/4/2019', '25/4/2019', '05/5/2019',
       '15/5/2019', '25/5/2019', '04/6/2019', '04-Jun-19', '14/6/2019',
       '14-Jun-19', '24/6/2019', '04/7/2019', '14/7/2019', '24/7/2019',
       '03/8/2019', '13/8/2019', '23-Aug-19', '23/8/2019', '02/9/2019',
       '12/9/2019', '22/9/2019', '02/10/2019', '12/10/2019', '02-Oct-19',
       '22/10/2019', '01/11/2019', '11/11/2019', '21/11/2019'],
      dtype=object)

In [147]:
for index, row in  cdf.iterrows():
    date_format = "%d/%m/%Y"
    
    if():
        a =  datetime.strptime(row['Date_of_Surgery'], date_format)
        b = datetime.strptime(row['Date_of_Last_Visit'], date_format)
        delta = b - a
        print (delta.days)
    else: 
        cdf.drop(row['Date_of_Surgery'], inplace = True)
    if():
        a =  datetime.strptime(row['Date_of_Surgery'], date_format)
        b = datetime.strptime(row['Date_of_Last_Visit'], date_format)
        delta = b - a
        print (delta.days)
    else: 
        cdf.drop(row['Date_of_Surgery'], inplace = True)

155
155
562
562
274
274
168
168
782
782
1519
1519
368
368

ValueError: time data '16-May-17' does not match format '%d/%m/%Y'